
<div class="animate__animated animate__fadeInDown">
    <h2>por capital</h2>
</div>

<hr>
<div class="row">
    <div class="col">
        <app-pais-input placeholder="Buscar por capital..." (onEnter)="buscar( $event )" (onDebounce)="sugerencias( $event )"></app-pais-input>
    </div>
</div>
<hr>

<div *ngIf="existsError" 
    class="alert alert-danger">
    No se encontró nada con el termino de busqueda '{{ termino }}'
</div>

<div *ngIf="ciudades.length > 0" class="row">
    <div class="col">
        <app-pais-table [paises]="ciudades"></app-pais-table>
    </div>
</div>


